@charset "UTF-8";
<link rel="stylesheet" href="img/Coulisdeframboise.jpeg">

.container{
  padding: 0;
  display: block;

}
.col-sm-6{

  float:left;
  width: 50%;

}
.col-sm-6bis{
left: 350.578px;

}
.background-recipe{
  border-radius: 4px;
  margin-bottom: 36px;
  box-shadow: 0 4px 8px 0 rgba(46,61,73,.1);
  position: absolute;
  left: 0px;
  top: 0px;
}




}


.recette-image{
  background: transparent no-repeat 50%;
  background-size: auto auto;
  background-size: cover;
  overflow: hidden;


}

.label{
    padding: 4px;
    width: 100px;
    color: #fff;
    z-index: 1;
    position: absolute;
    top: 5%;
    text-align: center;
    background-color: #ed4343;

}
.description{

  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  position: relative;
  padding: 10px 10px;

}

.description .roundedImage {
    height: 64px;
    width: 64px;
    top: -32px;
  }

.description-text {
  height: 65px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin: -30px 20px 5px;
}
.recipe-name{
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 16px;
}

.recipe-times{
  position: absolute;
  bottom: 20px;
  font-size: 14px;
  color: gray;




}
 .roundedImage{
   border-radius: 100px;
   text-align: center;
   display: block;
   height: 45px;
   width: 45px;
  top: -38px;
  position: relative;
  background: white



}


.roundedImage img{

width: 34px;
height: 34px;
text-align:center;
display: inline-block;


}


